ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.dgspec.json
ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.g.props
ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.g.targets
ClassCollectionStack/ClassCollectionStack/obj/project.assets.json
ClassCollectionStack/ClassCollectionStack/obj/project.nuget.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.AssemblyInfo.cs
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.AssemblyInfoInputs.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.assets.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.GeneratedMSBuildEditorConfig.editorconfig
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.GlobalUsings.g.cs
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/30718691-8fc5-4e4d-9120-3a645f1c4cb2.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/35db8ebc-9eaa-4e2c-9c01-30e81e001f9b.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/fa1455db-2772-4c03-bf1c-ccd39ff0902d.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/v17/.suo
ClassCollectionStack/.vs/ClassCollectionStack/v17/DocumentLayout.json
ClassCollectionStack/ClassCollectionStack/bin/Debug/net8.0/ClassCollectionStack.deps.json
ClassCollectionStack/ClassCollectionStack/bin/Debug/net8.0/ClassCollectionStack.dll
ClassCollectionStack/ClassCollectionStack/bin/Debug/net8.0/ClassCollectionStack.exe
ClassCollectionStack/ClassCollectionStack/bin/Debug/net8.0/ClassCollectionStack.pdb
ClassCollectionStack/ClassCollectionStack/bin/Debug/net8.0/ClassCollectionStack.runtimeconfig.json
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/apphost.exe
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.csproj.BuildWithSkipAnalyzers
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.csproj.CoreCompileInputs.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.csproj.FileListAbsolute.txt
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.dll
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.genruntimeconfig.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.pdb
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.sourcelink.json
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ref/ClassCollectionStack.dll
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/refint/ClassCollectionStack.dll
ClassCollectionStack/.vs/ClassCollectionStack/DesignTimeBuild/.dtbcache.v2
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/4db98048-e018-49f8-b36d-1a9eadea9302.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/5f0b1cf3-3902-4710-8099-7e3404095293.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/6363b489-956a-4527-8999-1e2ec627f9fc.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/85da8ecb-4fe6-4fa9-9f43-cf84d56de774.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/d0d8652f-51c5-4b8c-9cbd-538880918bab.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/v17/.futdcache.v2
ClassCollectionStack/.vs/ClassCollectionStack/v17/DocumentLayout.backup.json
