ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.dgspec.json
ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.g.props
ClassCollectionStack/ClassCollectionStack/obj/ClassCollectionStack.csproj.nuget.g.targets
ClassCollectionStack/ClassCollectionStack/obj/project.assets.json
ClassCollectionStack/ClassCollectionStack/obj/project.nuget.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.AssemblyInfo.cs
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.AssemblyInfoInputs.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.assets.cache
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.GeneratedMSBuildEditorConfig.editorconfig
ClassCollectionStack/ClassCollectionStack/obj/Debug/net8.0/ClassCollectionStack.GlobalUsings.g.cs
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/30718691-8fc5-4e4d-9120-3a645f1c4cb2.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/35db8ebc-9eaa-4e2c-9c01-30e81e001f9b.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/FileContentIndex/fa1455db-2772-4c03-bf1c-ccd39ff0902d.vsidx
ClassCollectionStack/.vs/ClassCollectionStack/v17/.suo
ClassCollectionStack/.vs/ClassCollectionStack/v17/DocumentLayout.json
